{% load to_comma %}
<!DOCTYPE HTML>

<html>
<head>
    <title>Admin by AZTECS</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="static/css/main.css"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.0/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> --> 

</head>

<body>
    
<!-- One -->
<section id="one" class="wrapper style2">
    <div class="inner">
            <div class="box">
                <div class="image fit">
                    <img src="static/img/maps.jpg" alt=""/>
                </div>
                <div class="content">
                    <header class="align-center">
                        <h2>Requests</h2>
                        <p>Places from which requests have been Made !!!</p>
                    </header>
                    <hr/>
                    <ul class="list-group">
                        {% for res in req_number %}
                        <li class="list-group-item d-flex">
                          <ul>
							<div id="accordion">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse{{res.req_id}}" aria-expanded="false" aria-controls="collapse{{res.req_id}}">
                                    Expand
                                </button>
                                
                                <span>{{ res.location|change }}</span>
							    <span>{{res.req_time}}</span>
							    <span>{{res.req_type}}</span>
                                <span id="rp" class="badge badge-danger badge-pill">Pending</span>
                              
                                <div id="collapse{{res.req_id}}" class="collapse" aria-labelledby="heading{{res.req_id}}" data-parent="#accordion">
                                    <div>
                                        <span id="al">Request Id: {{ res.req_id}}</span>
                                        <span id="lr">User Id:<a href="{% url 'profile' res.user_id %}" target="_blank">{{ res.user_id }}</a></span>
                                        <br>
                                        <span id="al">Request type: {{ res.req_type }}</span>
                                        <span id="lr">Status: {{ res.status }}</span>
                                        <br>
                                        <span id="al">Username: {{ res.username }}</span>
                                        <span id="lr">Request time: {{ res.req_time }}</span>
                                        <br>
                                        <span id="al">Location: <a href="http://maps.google.com/maps?q=loc:+{{ res.location|change }}" target="_blank">Click to open in google map</a></span>
                                        <span id="lr">Authority Responded: {{ res.auth_resp }}</span>
                                        <br>
                                        <span id="al">No. of people responded: {{ res.nprespond }}</span>
                                        
                                        <br>
                                    
                                        {% for i in res.presponded_ids|tolist %}
                                        {% if i|length > 0 %}
                                        <span id="al">Person responded id:<a href="{% url 'profile' i %}" target="_blank"> {{ i }}</a></span>
                                        <br>
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                          </ul>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
    </div>
            
</section>





<!-- Scripts -->
<script src="static/js/jquery.min.js"></script>
<script src="static/js/jquery.scrolly.min.js"></script>
<script src="static/js/jquery.scrollex.min.js"></script>
<script src="static/js/skel.min.js"></script>
<script src="static/js/util.js"></script>
<script src="static/js/main.js"></script>

</body>
</html>