<!DOCTYPE HTML>

<html>
<head>
    <title>Admin by AZTECS</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="static/css/main.css"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.0/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> --> 

</head>

<body>

<!-- Header -->
<header id="header" class="alt">
    <div class="logo"><a href="/">Service by AZTECS</a></div>
    <a href="#menu" class="toggle"><span>Menu</span></a>
</header>

<!-- Nav -->
<nav id="menu">
    <ul class="links">
        <li><a href="/">Home</a></li>
        
    </ul>
</nav>

<!-- Banner -->

<section id="banner" data-video="/static/img/banner.jpg">
    <div class="inner">
        <h1>Smart Security</h1>
        <p>A platform for You<br/>
            built by ABET</p>
        <a href="#one" class="button special scrolly">Let's Protect</a>
    </div>
</section>

<!-- One -->
<section id="one" class="wrapper style2">
    <div class="inner">
            <div class="box">
                <div class="image fit">
                    <img src="static/img/maps.jpg" alt=""/>
                </div>
                <div class="content">
                    <header class="align-center">
                        <h2>Requests</h2>
                        <p>Places from which requests are been Made !!!</p>
                    </header>
                    <hr/>
                    <ul class="list-group">
                        <li class="list-group-item d-flex">
                          <ul>
							                <div id="accordion">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Expand
                                </button>
                                <span><a>E-7, Arera Colony,Bhopal,Madhya Pradesh,462039,India</a></span>
							                  <span> 13:11:14 28 Nov 2019 </span>
							                  <span> Harassment</span>
                                <span class="badge badge-danger badge-pill">Pending</span>
                              
                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                    <p>Link to location : http://wwww.randomlocaztecs.com
                                    </p>
                                </div>
                            </div>
                          </ul>
                        </li>
                        <br>
                        <li class="list-group-item d-flex">
                          <ul>
                            <div id="accordion">
                              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                      Expand
                              </button>
                              <span><a>E-7,Rajeev Nagar,Bhopal,Madhya Pradesh,462039,India</a></span>
                              <span>13:11:14 28 Nov 2019 </span>
                              <span>Harassment</span>
                              <span class="badge badge-danger badge-pill">Pending</span>
                            
                              <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
                                  <p>Link to location : http://wwww.randomlocaztecs.com
                                  </p>
                              </div>
                            </div>
                          </ul>
                        </li>
                        <br>
                        <li class="list-group-item d-flex">
                          <ul>
                            <div id="accordion">
                              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                      Expand
                              </button>
                              <span><a>E-7,Rajeev Nagar,Bhopal,Madhya Pradesh,462039,India</a></span>
                              <span>13:11:14 28 Nov 2019 </span>
                              <span>Harassment</span>
                              <span class="badge badge-success badge-pill">Resolved</span>
                            
                              <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordion">
                                  <p>Link to location : http://wwww.randomlocaztecs.com
                                  </p>
                              </div>
                            </div>
                          </ul>
                        </li>
                        


                    </ul>
                </div>
            </div>
    </div>
            
</section>





<!-- Scripts -->
<script src="static/js/jquery.min.js"></script>
<script src="static/js/jquery.scrolly.min.js"></script>
<script src="static/js/jquery.scrollex.min.js"></script>
<script src="static/js/skel.min.js"></script>
<script src="static/js/util.js"></script>
<script src="static/js/main.js"></script>

</body>
</html>